/* Mobile first approach */

body {
  width: 375px;
  margin: 0 auto;
}

main {
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
  padding: 40px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.logo {
  margin-bottom: 50px;
}

h1 {
  margin-top: 70px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: white;
}

p {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-align: center;
  font-weight: 300;
  margin-bottom: 20px;
}

.button {
  width: 100%;
}

button {
  background-color: white;
  width: 60%;
  height: 40px;
  margin-left: 59px;
  border-radius: 50px;
  border: none;
  color: hsl(257, 40%, 49%);
  box-shadow: 0.5px 0.5px 5px black;
}

button:hover {
  background-color: hsl(300, 69%, 71%);
  color: white;
}

ul {
  width: 150px;
  margin: 70px auto 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

li {
  list-style: none;
}

.icons {
  width: 30px;
  height: 30px;
  border: 1.5px solid white;
  border-radius: 100%;
}

.icons:hover {
  border-color: hsl(300, 69%, 71%);
}

.fa-brands {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fa-brands:hover {
  color: hsl(300, 69%, 71%);
}

.attribution {
  font-size: 11px;
  color: black;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Desktop Version */

@media (min-width: 1440px) {
  body {
    width: 100%;
    height: inherit;
    background-image: url(./images/bg-desktop.svg);
    background-color: hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size: 90vw 100vh;
  }

  main {
    background-image: none;
    background-color: transparent;
    height: inherit;
    padding: 70px 100px 70px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 65% 10%;
    position: relative;
  }

  .logo {
    grid-column: span 2;
    width: 250px;
  }

  .mock-up {
    position: absolute;
    top: 240px;
    grid-column: 1 / 2;
    width: 930px;
  }

  .description {
    position: absolute;
    top: 240px;
    left: 50px;
    grid-column: 2 / 3;
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
  }

  h1 {
    width: 600px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    font-size: 3.3rem;
    font-weight: 510;
    color: white;
  }

  p {
    width: 660px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    color: white;
    text-align: left;
    font-weight: 300;
    margin-bottom: 0;
  }

  button {
    font-size: 1.5rem;
    font-weight: 200;
    width: 39%;
    height: 70px;
    border-radius: 50px;
    border: none;
    margin: 30px 0 0 0;
    color: hsl(257, 40%, 49%);
    box-shadow: 0.5px 0.5px 5px black;
  }

  .flex-icon-container {
    position: absolute;
    top: 900px;
    right: 160px;
    grid-column: span 2;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
  }

  ul {
    margin: 0;
    width: 220px;
    padding: 0;
  }

  .icons {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 100%;
  }

  .fa-brands {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
  }
}
